Repository devdeun/investmetic: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npm run lint {staged_files} --fix
    prettier:
      glob: '*.{js,ts,jsx,tsx,json,yaml,md}'
      run: npm run prettier {staged_files}
    type-check:
      run: npm run type-check

pre-push:
  commands:
    audit-check:
      run: npm audit

remove: git 트랙킹에서 .env제거
  .env
Due: none

feat: 통계테이블 컴포넌트 스토리북 추가 (#22)
  app/(dashboard)/strategies/page.tsx
  shared/ui/table/statistics/stories/statistics-table.stories.tsx
Due: eslint, prettier

feat:테이블컴포넌트 스토리북 추가 (#22)
  shared/ui/table/vertical/stories/table.stories.tsx
Due: eslint, prettier

feat: 코드리뷰 반영 (#22)
  shared/ui/table/statistics/index.tsx
  shared/ui/table/vertical/index.tsx
Due: eslint, prettier

rename: vertical 폴더에 공백제거
  app/(dashboard)/strategies/page.tsx
  shared/ui/table/vertical/index.tsx
  shared/ui/table/vertical/vertical.module.scss
Due: eslint, prettier

feat: 테이블컴포넌트 스토리북 추가로 예시 삭제 (#22)
  app/(dashboard)/strategies/page.tsx
Due: eslint, prettier

feat: 코드리뷰 반영 (#22)
  app/(dashboard)/strategies/page.tsx
  shared/ui/table/statistics/index.tsx
  shared/ui/table/vertical/index.tsx
Due: eslint, prettier

feat: 통계컴포넌트 title props추가 (#22)
  app/(dashboard)/strategies/page.tsx
  shared/ui/table/statistics/index.tsx
  shared/ui/table/statistics/statistics.module.scss
Due: eslint, prettier

chore: .env추가
  .gitignore
Due: none

feat:공통 테이블 컴포넌트 및 통계 테이블 컴포넌트 개발 (#22)
  .env
  app/(dashboard)/strategies/page.tsx
  shared/types/strategy-details-data.ts
  shared/ui/table/ vertical/index.tsx
  shared/ui/table/ vertical/vertical.module.scss
  shared/ui/table/statistics/inKorean.ts
  shared/ui/table/statistics/index.tsx
  shared/ui/table/statistics/statistics.module.scss
Due: eslint, prettier

feat: SideNavigation 컴포넌트 추가 (#23)
  shared/api/user.ts
  shared/types/user.ts
  shared/ui/side-navigation/button-item.tsx
  shared/ui/side-navigation/index.tsx
  shared/ui/side-navigation/link-item.tsx
  shared/ui/side-navigation/styles.module.scss
  shared/ui/side-navigation/user-navigation.tsx
Due: eslint, prettier

feat: 메인 대시보드 페이지 사이드바 추가 (#23)
  app/(dashboard)/_ui/navigation.tsx
  app/(dashboard)/layout.tsx
  app/(dashboard)/strategies/.gitkeep
  app/(dashboard)/strategies/page.tsx
Due: eslint, prettier

feat: 관리자 대시보드 페이지 사이드바 추가 (#23)
  app/admin/_ui/navigation.tsx
  app/admin/layout.tsx
  app/admin/page.tsx
  app/admin/users/.gitkeep
  app/admin/users/page.tsx
Due: eslint, prettier

remove:table컴포넌트 내의 stories폴더 제거
  shared/ui/table/statistics/statistics-table.stories.tsx
  shared/ui/table/vertical/table.stories.tsx
Due: eslint, prettier

feat: 로고 컴포넌트 웹 접근성 향상 (#23)
  shared/ui/side-navigation/index.tsx
Due: eslint, prettier

feat: PATH에 profile 경로 추가 (#23)
  shared/constants/path.ts
  shared/ui/side-navigation/user-navigation.tsx
Due: eslint, prettier

rename: Navigation의 LinkItem과 ButtonItem 이름 구체적으로 수정 (#23)
  app/(dashboard)/_ui/navigation.tsx
  app/admin/_ui/navigation.tsx
  shared/ui/side-navigation/nav-button-item.tsx
  shared/ui/side-navigation/nav-link-item.tsx
  shared/ui/side-navigation/user-navigation.tsx
Due: eslint, prettier

feat: Admin Navigation 불필요한 조건 제거 (#23)
  app/admin/_ui/navigation.tsx
Due: eslint, prettier

refactor: NavHeader 컴포넌트 분리 (#23)
  shared/ui/side-navigation/index.tsx
  shared/ui/side-navigation/nav-header.tsx
Due: eslint, prettier

feat: 회원가입 하위 라우트경로 상수 추가 (#30)
  shared/constants/path.ts
Due: eslint, prettier

design: 글로벌 background color 수정 (#30)
  shared/styles/global.scss
Due: none

feat: 회원가입 step컴포넌트 추가 및 적용 (#30)
  app/(landing)/signup/_ui/step/index.tsx
  app/(landing)/signup/_ui/step/step-item.tsx
  app/(landing)/signup/_ui/step/style.module.scss
  app/(landing)/signup/complete/page.tsx
  app/(landing)/signup/information/page.tsx
  app/(landing)/signup/terms-of-use/page.tsx
  app/(landing)/signup/user-type/page.tsx
Due: eslint, prettier

feat: 공통된 className 변수로 분리 (#30)
  app/(landing)/signup/_ui/step/step-item.tsx
Due: eslint, prettier

design: 불필요한 style 제거 (#30)
  app/(landing)/signup/_ui/step/style.module.scss
Due: none

settings: PR이 열릴 때 storybook이 배포 되는 workflow 작성 (#11)
  .github/workflows/chromatic.yml
Due: none

settings: typescale mixin들을 추가 (#37)
  shared/styles/base/_mixins.scss
Due: none

feat: 페이지네이션 컴포넌트 추가 (#27)
  shared/ui/pagination/index.tsx
  shared/ui/pagination/pagination.module.scss
  shared/ui/pagination/pagination.stories.tsx
Due: eslint, prettier

chore: Svgr 추가 설치 (#27)
  package-lock.json
  package.json
Due: prettier

feat: svg를 리액트 컴포넌트로 지정 및 스토리북 설정 추가 (#27)
  .storybook/main.ts
  shared/types/svg.d.ts
Due: eslint, prettier

settings: NextJS의 경로 별칭(@)과의 호환성 유지 및 SVG 파일 타입 지원 설정 추가 (#27)
  next.config.mjs
  tsconfig.json
Due: prettier

feat: step에 따른 gaugeBar 효과 추가 (#30)
  app/(landing)/signup/_ui/step/index.tsx
  app/(landing)/signup/_ui/step/step-item.tsx
  app/(landing)/signup/_ui/step/style.module.scss
  shared/stores/use-step-history-store.tsx
Due: eslint, prettier

design: 중복된 스타일코드 제거 (#30)
  app/(landing)/signup/_ui/step/style.module.scss
Due: none

rename: step history를 제어하는 함수 이름 명확하게 수정 (#30)
  app/(landing)/signup/_ui/step/index.tsx
Due: eslint, prettier

chore: 아이콘 파일 수정 및 추가 (#40)
  public/icons/bookmark-outline.svg
  public/icons/bookmark.svg
  public/icons/daily-graph.svg
  public/icons/index.tsx
  public/icons/monthly-graph.svg
  public/icons/open.svg
  public/icons/search.svg
  public/icons/statistics.svg
Due: eslint, prettier

fix: 바뀐 아이콘 이름으로 수정 (#40)
  app/(dashboard)/_ui/navigation.tsx
Due: eslint, prettier

feat: Icons 스토리북 추가 (#40)
  shared/styles/stories/icons.stories.tsx
Due: eslint, prettier

design: Colors, Typography 스토리북 h1 스타일 통일 (#40)
  shared/styles/stories/colors.stories.tsx
  shared/styles/stories/fonts.stories.tsx
Due: eslint, prettier

feat: 불필요한 effect의 의존성, ref제거 (#30)
  app/(landing)/signup/_ui/step/index.tsx
Due: eslint, prettier

settings: letter-spacing em을 통해 base에서 처리 (#37)
  shared/styles/base/_mixins.scss
Due: none

feat: Link버튼 공통LinkButton컴포넌트로 수정 (#30)
  app/(landing)/signup/complete/page.tsx
  app/(landing)/signup/information/page.tsx
  app/(landing)/signup/terms-of-use/page.tsx
  app/(landing)/signup/user-type/page.tsx
Due: eslint, prettier
