Repository devdeun/investmetic: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npm run lint {staged_files} --fix

prettier:
  run: npm run prettier {staged_files}

chore: prettier 코드 스타일 자동 수정 (#1)
  README.md
  next.config.mjs
Due: prettier

fix: ESLint 설정 오류 해결을 위한 tsconfig.json 수정 (#1)
  tsconfig.json
Due: prettier

fix: clsx를 classnames로 변경 (#1)
  package-lock.json
  package.json
Due: prettier

chore: prettier 설정에 endOfLine auto 추가 (#1)
  .prettierrc
Due: none

settings: 기본 폴더 구조 세팅 (#4)
  app/(home)/layout.tsx
  app/(home)/page.module.css
  app/(home)/page.tsx
  app/(home)/ui/.gitkeep
  lefthook.yml
  shared/api/.gitkeep
  shared/hooks/custom/.gitkeep
  shared/hooks/query/.gitkeep
  shared/stores/.gitkeep
  shared/styles/reset.scss
  shared/ui/button/index.tsx
  shared/ui/button/styles.module.scss
  tsconfig.json
Due: eslint, prettier

feat: TanStack Query 세팅 (#6)
  app/get-query-client.ts
  app/layout.tsx
  app/providers.tsx
Due: eslint, prettier

chore: TanStack Query 최신 버전 사용 (#6)
  package-lock.json
  package.json
Due: prettier

settings: import 정렬 순서 규칙 추가 (#8)
  .prettierrc
  package-lock.json
  package.json
Due: prettier

design: _reset.scss 파일 추가 (#7)
  shared/styles/base/_reset.scss
  shared/styles/reset.scss
Due: none

design: css 변수 설정 (#7)
  shared/styles/base/_variables.scss
Due: none

design: 미디어쿼리 mixins 추가 (#7)
  shared/styles/base/_mixins.scss
Due: none

design: z-index 관리를 위한 유틸리티 함수 추가 (#7)
  shared/styles/base/_functions.scss
Due: none

settings: SCSS 전역 설정 추가 (#7)
  next.config.mjs
Due: none

feat: Pretendard 폰트 설정 추가 (#7)
  app/(home)/layout.tsx
  app/fonts.ts
  app/layout.tsx
  public/fonts/PretendardVariable.woff2
Due: eslint, prettier

design: 공통 스타일 추가 (#7)
  app/layout.tsx
  shared/styles/base/_variables.scss
  shared/styles/global.scss
Due: eslint, prettier

rename: 기존 TanStack Query 관련 코드를 app 에서 shared 하위로 이동 (#6)
  app/layout.tsx
  shared/providers/index.ts
  shared/providers/react-query/query-client.ts
  shared/providers/react-query/query-provider.tsx
Due: eslint, prettier

design: 수정된 디자인 시스템(color) 반영 (#7)
  shared/styles/base/_variables.scss
Due: none

settings: .storybook 환경설정 파일 추가 (#7)
  .storybook/main.ts
  .storybook/preview.ts
  package-lock.json
  package.json
Due: eslint, prettier

feat: colors 스토리북 추가 (#7)
  shared/styles/stories/colors.stories.tsx
Due: eslint, prettier

feat: typography 스토리북 추가 (#7)
  shared/styles/stories/fonts.stories.tsx
Due: eslint, prettier

setting: route구조 세팅 (#16)
  app/(dashboard)/.gitkeep
  app/(dashboard)/admin/.gitkeep
  app/(dashboard)/admin/category/.gitkeep
  app/(dashboard)/admin/notices/.gitkeep
  app/(dashboard)/admin/users/.gitkeep
  app/(dashboard)/my/.gitkeep
  app/(dashboard)/my/favorites/.gitkeep
  app/(dashboard)/my/questions/.gitkeep
  app/(dashboard)/my/strategies/.gitkeep
  app/(dashboard)/my/strategies/manage/[strategyId]/.gitkeep
  app/(dashboard)/strategies/.gitkeep
  app/(dashboard)/strategies/[strategyId]/.gitkeep
  app/(dashboard)/traders/.gitkeep
  app/(dashboard)/traders/[traderId]/.gitkeep
  app/(landing)/(home)/page.module.css
  app/(landing)/(home)/page.tsx
  app/(landing)/(home)/ui/.gitkeep
  app/(landing)/layout.tsx
  app/(landing)/signin/.gitkeep
  app/(landing)/signup/.gitkeep
Due: eslint, prettier

settings: api 요청시 경로 rewiter 설정
  next.config.mjs
Due: none

settings: msw 기본 설정 (#18)
  .eslintrc.js
  app/layout.tsx
  mocks/browser.ts
  mocks/handlers.ts
  mocks/index.ts
  mocks/server.ts
  package-lock.json
  package.json
  public/mockServiceWorker.js
  shared/constants/env.ts
Due: eslint, prettier

setting test: msw 세팅 과정에서의 테스트 파일들 (#18)
  app/test/client/page.tsx
  app/test/server/page.tsx
  app/test/ui/email-check-button/index.tsx
  app/test/ui/signup-button/index.tsx
  app/test/ui/styels.ts
  app/test/ui/withdraw-button/index.tsx
  mocks/handlers.ts
  mocks/handlers/index.ts
  mocks/handlers/post.ts
  mocks/handlers/user.ts
Due: eslint, prettier

setting test: msw 세팅 과정에서의 테스트 파일 케이스 추가 (#18)
  app/test/client/page.tsx
  app/test/server/page.tsx
  app/test/ui/title/index.tsx
Due: eslint, prettier

feat: msw 코드 추가 (#18)
  app/layout.tsx
  app/test/client/page.tsx
  app/test/server/page.tsx
  app/test/ui/title/index.tsx
  mocks/handlers/post.ts
  mocks/handlers/user.ts
  mocks/index.ts
  mocks/server.ts
  next.config.mjs
  package-lock.json
  public/mockServiceWorker.js
  shared/providers/index.ts
  shared/providers/msw-Initializer.tsx
  shared/stores/msw.ts
  shared/utils/env.ts
Due: eslint, prettier

feat: 라우트 경로 상수 추가 (#23)
  shared/constants/path.ts
Due: eslint, prettier

chore: 아이콘 및 로고 이미지 추가 (#23)
  public/icons/category.svg
  public/icons/change.svg
  public/icons/favorite.svg
  public/icons/logo.svg
  public/icons/notice.svg
  public/icons/profile.svg
  public/icons/question.svg
  public/icons/signout.svg
  public/icons/strategy-ranking.svg
  public/icons/strategy.svg
  public/icons/text-logo.svg
  public/icons/traders.svg
  public/images/logo.svg
  public/images/text-logo.svg
Due: none

rename: admin 라우트 경로 수정 (#23)
  app/(dashboard)/admin/users/.gitkeep
  app/admin/category/.gitkeep
  app/admin/notices/.gitkeep
  app/admin/page.tsx
  app/admin/users/.gitkeep
Due: eslint, prettier

feat: 버튼 컴포넌트 추가 (#28)
  shared/ui/button/button.module.scss
  shared/ui/button/index.tsx
  shared/ui/button/styles.module.scss
Due: eslint, prettier

feat: 버튼 스토리북 추가 (#28)
  .storybook/main.ts
  shared/ui/button/button.module.scss
  shared/ui/button/button.stories.tsx
  shared/ui/button/index.tsx
Due: eslint, prettier

feat: 스토리북에 reset 적용하고 Pretendard 폰트가 정상적으로 나오도록 수정 (#28)
  .storybook/preview-head.html
  .storybook/preview.ts
Due: eslint, prettier

feat: 스토리북에서도 public 폴더의 폰트 파일에 접근할 수 있도록 함 (#28)
  .storybook/main.ts
Due: eslint, prettier

feat: 링크 버튼 컴포넌트 추가 (#28)
  shared/ui/button/index.tsx
  shared/ui/link-button/index.tsx
  shared/ui/link-button/link-button.module.scss
  shared/ui/link-button/link-button.stories.tsx
Due: eslint, prettier

fix: ButtonProps를 Props로 변경 (#28)
  shared/ui/button/index.tsx
Due: eslint, prettier

feat: onClick을 버튼 필수 속성으로 명시적으로 표시 (#28)
  shared/ui/button/button.stories.tsx
  shared/ui/button/index.tsx
Due: eslint, prettier

chore: 모든 아이콘 svg 파일 추가 (#23)
  public/icons/bars.svg
  public/icons/category.svg
  public/icons/change.svg
  public/icons/check.svg
  public/icons/checkbox.svg
  public/icons/chevron-down.svg
  public/icons/chevron-left.svg
  public/icons/chevron-right.svg
  public/icons/chevron-up.svg
  public/icons/daily-graph.svg
  public/icons/favorite.svg
  public/icons/file.svg
  public/icons/logo.svg
  public/icons/money.svg
  public/icons/monthly-graph.svg
  public/icons/notice.svg
  public/icons/open.svg
  public/icons/pencil.svg
  public/icons/profile.svg
  public/icons/question.svg
  public/icons/search.svg
  public/icons/signout.svg
  public/icons/statistics.svg
  public/icons/strategy-ranking.svg
  public/icons/strategy.svg
  public/icons/text-logo.svg
  public/icons/traders.svg
Due: none

settings: svg를 컴포넌트로 사용할 수 있도록 svgr 설정 (#23)
  next.config.mjs
  package-lock.json
  package.json
Due: prettier

feat: SVG 아이콘 컴포넌트를 관리할 index 파일 추가 (#23)
  public/icons/index.tsx
Due: eslint, prettier

feat: 링크 버튼 서버컴포넌트로 전환(#28)
  shared/ui/link-button/index.tsx
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,jsx,tsx,json,yaml,md}
