Repository devdeun/investmetic: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npm run lint {staged_files} --fix
    prettier:
      glob: '*.{js,ts,jsx,tsx,json,yaml,md}'
      run: npm run prettier {staged_files}
    type-check:
      run: npm run type-check

pre-push:
  commands:
    audit-check:
      run: npm audit

feat: 회원(트레이더/투자자)약관 추가 (#81)
  app/(landing)/signup/terms-of-use/_ui/terms/investor-terms.tsx
  app/(landing)/signup/terms-of-use/_ui/terms/trader-terms.tsx
Due: eslint, prettier

feat: 개인정보처리방침 추가 (#81)
  app/(landing)/signup/terms-of-use/_ui/terms/privacy-terms.tsx
  app/(landing)/signup/terms-of-use/_ui/terms/styles.module.scss
  shared/styles/base/_variables.scss
Due: eslint, prettier

feat: 회원가입 약관 동의 페이지 구현 (#81)
  app/(landing)/signup/_stores/use-signup-store.ts
  app/(landing)/signup/terms-of-use/page.module.scss
  app/(landing)/signup/terms-of-use/page.tsx
Due: eslint, prettier

feat: TermsContainer 컴포넌트 추가 (#81)
  app/(landing)/signup/terms-of-use/_ui/terms-container/index.tsx
  app/(landing)/signup/terms-of-use/_ui/terms-container/styles.module.scss
Due: eslint, prettier

feat: Checkbox 컴포넌트에 사이즈 prop 추가 (#81)
  shared/ui/check-box/index.tsx
  shared/ui/check-box/styles.module.scss
Due: eslint, prettier

refactor: useTermsCheck 훅 분리 (#81)
  app/(landing)/signup/terms-of-use/_hooks/use-terms-check.ts
  app/(landing)/signup/terms-of-use/page.tsx
Due: eslint, prettier

refactor: 회원가입 상태관리를 store 기반에서 cookie로 변경 (#81)
  app/(landing)/signup/_constants/cookies.ts
  app/(landing)/signup/_lib/cookies.ts
  app/(landing)/signup/_stores/use-signup-store.ts
  app/(landing)/signup/_ui/user-type-card/index.tsx
  app/(landing)/signup/complete/page.tsx
  app/(landing)/signup/terms-of-use/page.tsx
Due: eslint, prettier

feat: 회원가입 페이지 접근 제어를 위한 미들웨어 추가 (#81)
  middleware.ts
  middleware/signup.ts
Due: eslint, prettier

fix: 상대 경로로 수정 (#81)
  app/(landing)/signup/complete/page.tsx
  app/(landing)/signup/information/page.tsx
  app/(landing)/signup/terms-of-use/page.tsx
  app/(landing)/signup/user-type/page.tsx
Due: eslint, prettier

fix: CommonTItle styles 오타 교정 (#88)
  shared/ui/common-title/styles.module.scss
Due: none

chore: svg 크기 조절을 위한 svgr 설정 추가 (#92)
  next.config.mjs
Due: none

fix: 아이콘 크기 오류 수정 (#92)
  shared/ui/logo/styles.module.scss
  shared/ui/side-navigation/styles.module.scss
Due: none

feat: hero 섹션 추가 (#92)
  app/(landing)/(home)/_ui/hero-section/index.tsx
  app/(landing)/(home)/_ui/hero-section/styles.module.scss
  app/(landing)/(home)/page.tsx
Due: eslint, prettier

feat: UserMetricsSection 퍼블리싱 (#92)
  app/(landing)/(home)/_ui/home-subtitle/index.tsx
  app/(landing)/(home)/_ui/home-subtitle/styles.module.scss
  app/(landing)/(home)/_ui/metric-card/index.tsx
  app/(landing)/(home)/_ui/metric-card/styles.module.scss
  app/(landing)/(home)/_ui/user-metrics-section/index.tsx
  app/(landing)/(home)/_ui/user-metrics-section/styles.module.scss
  app/(landing)/(home)/page.tsx
Due: eslint, prettier

fix: CommonTItle 컴포넌트를 Title 컴포넌트로 개명 (#88)
  shared/ui/title/index.tsx
  shared/ui/title/styles.module.scss
  shared/ui/title/title.stories.tsx
Due: eslint, prettier

fix: signup 미들웨어로 인한 배포 오류 수정 (#81)
  app/(landing)/signup/_lib/cookies.ts
  app/(landing)/signup/information/page.tsx
  app/(landing)/signup/user-type/page.tsx
  middleware.ts
  next.config.mjs
Due: eslint, prettier

feat: 회원가입 쿠키 만료 시간 추가 (#81)
  app/(landing)/signup/_lib/cookies.ts
Due: eslint, prettier

chore: axios 설치 (#84)
  package-lock.json
  package.json
Due: prettier

design: navigation z-index 적용 (#84)
  shared/ui/side-navigation/styles.module.scss
Due: none

design: 전략 사이드바 width 추가 (#84)
  shared/styles/base/_variables.scss
Due: none

design: 전략페이지 layout 적용 (#84)
  app/(dashboard)/strategies/layout.module.scss
  app/(dashboard)/strategies/layout.tsx
Due: eslint, prettier

feat: msw 목데이터, 핸들러 추가 (#84)
  mocks/handlers.ts
  mocks/handlers/index.ts
  mocks/handlers/strategies.ts
  mocks/handlers/strategy-details.ts
Due: eslint, prettier

feat: msw 사용하여 API 데이터 mocking, 페이지 렌더링 처리 (#84)
  app/(dashboard)/strategies/[strategyId]/page.tsx
  app/(dashboard)/strategies/_api/get-details-information/index.ts
  app/(dashboard)/strategies/_api/get-strategies/index.ts
  app/(dashboard)/strategies/page.module.scss
  app/(dashboard)/strategies/page.tsx
Due: eslint, prettier

design: 차트 width값 부모요소에 맞게 수정 (#84)
  app/(dashboard)/_ui/strategies-item/area-chart.tsx
  app/(dashboard)/_ui/strategies-item/styles.module.scss
Due: eslint, prettier

feat: 전략, 전략상세에서 사용될 사이드컨테이너 추가 (#84)
  app/(dashboard)/strategies/_ui/side-container/index.tsx
  app/(dashboard)/strategies/_ui/side-container/styles.module.scss
Due: eslint, prettier

feat: tanstack-query 적용 (#84)
  app/(dashboard)/strategies/_hooks/_query/use-get-details-information-data.ts
  app/(dashboard)/strategies/_hooks/_query/use-get-strategies-data.ts
Due: eslint, prettier

design: 페이지네이션 버튼 background color 수정 (#84)
  shared/ui/pagination/pagination.module.scss
Due: none

design: header컴포넌트 폰트크기, 아이콘위치 수정 (#84)
  app/(dashboard)/strategies/_ui/list-header/styles.module.scss
  shared/ui/header/back-header/styles.module.scss
  shared/ui/header/styles.module.scss
Due: none

feat: 전략 목록 헤더 컴포넌트 추가 (#84)
  app/(dashboard)/strategies/_ui/list-header/index.tsx
Due: eslint, prettier

fix: client옵션 제거 (#84)
  app/(dashboard)/strategies/_ui/side-container/index.tsx
Due: eslint, prettier

fix: select 아이콘 교체 (#25)
  shared/ui/dropdown/index.tsx
Due: eslint, prettier

feat: 유저 타입이 바뀌었을 때 약관동의 체크 해제 (#81)
  app/(landing)/signup/_ui/user-type-card/index.tsx
Due: eslint, prettier

fix: page내에 useSearchParams로 인한 배포 오류 해결 (#84)
  app/(dashboard)/strategies/_ui/strategy-list/index.tsx
  app/(dashboard)/strategies/_ui/strategy-list/styles.module.scss
  app/(dashboard)/strategies/page.module.scss
  app/(dashboard)/strategies/page.tsx
  next.config.mjs
Due: eslint, prettier

fix : suspense 위치 수정 (#84)
  app/(dashboard)/strategies/page.tsx
Due: eslint, prettier

design: back헤더 수정된 아이콘 반영 (#84)
  public/icons/back.svg
  public/icons/index.tsx
  shared/styles/stories/icons.stories.tsx
  shared/ui/header/back-header/index.tsx
  shared/ui/header/back-header/styles.module.scss
Due: eslint, prettier

design: 트레이더 리스트 카드 컴포넌트 SCSS 수정 (#75)
  shared/ui/traders-list-card/index.tsx
  shared/ui/traders-list-card/styles.module.scss
  shared/ui/traders-list-card/traders-list-card.stories.tsx
Due: eslint, prettier

feat: dropdown, select 컴포넌트에 size props 추가 (#25)
  shared/ui/dropdown/index.tsx
  shared/ui/dropdown/styles.module.scss
  shared/ui/dropdown/types.ts
  shared/ui/select/index.tsx
Due: eslint, prettier

feat: select에서 불필요해진 isRound props 제거 (#25)
  shared/ui/select/index.tsx
Due: eslint, prettier

fix: useDropdown에 multiple를 string value와 함께 넘길 때의 에러 처리 방식 수정 (#25)
  shared/ui/dropdown/hooks/use-dropdown.ts
Due: eslint, prettier

fix: select의 변경 사항에 맞춰 스토리 수정 (#25)
  shared/ui/select/select.stories.tsx
Due: eslint, prettier
