Repository devdeun/investmetic: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npm run lint {staged_files} --fix

prettier:
  run: npm run prettier {staged_files}

fix: error -> err로 컨벤션에 맞게 수정 (#134)
  app/(landing)/signup/_hooks/custom/use-signup-email.ts
  app/(landing)/signup/_hooks/custom/use-signup-form.ts
  app/(landing)/signup/_lib/cookies.ts
  app/test/client/page.tsx
  shared/api/axios.ts
  shared/hooks/custom/use-auth.ts
  shared/providers/msw-Initializer.tsx
  shared/utils/token-utils.ts
Due: eslint, prettier

feat: QuestionCard 컴포넌트 추가 (#128)
  app/(dashboard)/my/questions/_ui/question-card/index.tsx
  app/(dashboard)/my/questions/_ui/question-card/styles.module.scss
  shared/types/questions.ts
  shared/utils/format.ts
Due: eslint, prettier

feat: QuestionCard 스토리북 추가 (#128)
  app/(dashboard)/my/questions/_ui/question-card/question-card.stories.tsx
Due: eslint, prettier

refactor: QuestionCard 공통 스타일 mixin으로 분리 (#140)
  app/(dashboard)/my/questions/_ui/question-card/card-mixins.scss
  app/(dashboard)/my/questions/_ui/question-card/styles.module.scss
Due: none

refactor: QuestionCard 공통 Props 분리 (#140)
  app/(dashboard)/my/questions/_ui/question-card/index.tsx
Due: eslint, prettier

feat: QuestionDetailCard 컴포넌트 추가 (#140)
  app/(dashboard)/my/questions/[questionId]/_ui/question-detail-card/index.tsx
  app/(dashboard)/my/questions/[questionId]/_ui/question-detail-card/styles.module.scss
Due: eslint, prettier

fix: 유저 롤 타입 변수 수정(#125)
  shared/types/auth.ts
Due: eslint, prettier

feat: 나의 전략 컴포넌트 추가 (#125)
  app/(dashboard)/_ui/list-header/index.tsx
  app/(dashboard)/_ui/list-header/styles.module.scss
  app/(dashboard)/my/_api/get-my-strategy-list.ts
  app/(dashboard)/my/_hooks/custom/use-intersection-observer.ts
  app/(dashboard)/my/_hooks/query/use-get-my-strategy-list.ts
  app/(dashboard)/my/strategies/_ui/my-strategy-list/index.tsx
  app/(dashboard)/my/strategies/page.tsx
  app/(dashboard)/my/strategies/styles.module.scss
Due: eslint, prettier

feat: QuestionDetailCard 스토리북 추가 (#140)
  app/(dashboard)/my/questions/[questionId]/_ui/question-detail-card/question-detail-card.stories.tsx
Due: eslint, prettier

design: 회원가입 선택 페이지에 일러스트 추가 (#141)
  app/(landing)/signup/_ui/user-type-card/index.tsx
  app/(landing)/signup/_ui/user-type-card/styles.module.scss
  app/(landing)/signup/user-type/page.module.scss
  public/images/index.ts
  public/images/investor.svg
  public/images/trader.svg
Due: eslint, prettier

design: border-radius 추가 (#141)
  app/(landing)/signup/_ui/user-type-card/styles.module.scss
Due: none

feat: use client 추가 (#140)
  app/(dashboard)/my/questions/[questionId]/_ui/question-detail-card/index.tsx
Due: eslint, prettier

rename: 무한스크롤 관련 훅 shared 디렉토리 내부로 이동 (#125)
  app/(dashboard)/my/strategies/_ui/my-strategy-list/index.tsx
  shared/hooks/custom/use-intersection-observer.ts
Due: eslint, prettier

settings: 로그인 api 는 msw 사용하고 나머지 api는 실제 api 요청가도록 수정 (#145)
  next.config.mjs
Due: none

rename: 이용약관 컴포넌트 shared로 이동 (#147)
  app/(landing)/signup/terms-of-use/page.tsx
  shared/ui/terms/investor-terms.tsx
  shared/ui/terms/privacy-terms.tsx
  shared/ui/terms/styles.module.scss
  shared/ui/terms/trader-terms.tsx
Due: eslint, prettier

feat: 이용약관 페이지 퍼블리싱 (#147)
  app/(landing)/terms-of-use/page.module.scss
  app/(landing)/terms-of-use/page.tsx
Due: eslint, prettier

feat: 개인정보 처리방침 페이지 퍼블리싱 (#147)
  app/(landing)/privacy-terms/page.module.scss
  app/(landing)/privacy-terms/page.tsx
Due: eslint, prettier

feat: 전략목록페이지 아코디언 형식의 검색 사이드바 추가 (#133)
  app/(dashboard)/strategies/_ui/search-bar/_hooks/use-accordion-button.ts
  app/(dashboard)/strategies/_ui/search-bar/_hooks/use-accordion-context.ts
  app/(dashboard)/strategies/_ui/search-bar/_store/use-searching-item-store.ts
  app/(dashboard)/strategies/_ui/search-bar/_type/search.ts
  app/(dashboard)/strategies/_ui/search-bar/_utils/type-validate.ts
  app/(dashboard)/strategies/_ui/search-bar/accordion-button.tsx
  app/(dashboard)/strategies/_ui/search-bar/accordion-container.tsx
  app/(dashboard)/strategies/_ui/search-bar/accordion-panel.tsx
  app/(dashboard)/strategies/_ui/search-bar/algorithm-item.tsx
  app/(dashboard)/strategies/_ui/search-bar/index.tsx
  app/(dashboard)/strategies/_ui/search-bar/range-container.tsx
  app/(dashboard)/strategies/_ui/search-bar/search-bar-tap.tsx
  app/(dashboard)/strategies/_ui/search-bar/styles.module.scss
  app/(dashboard)/strategies/page.tsx
Due: eslint, prettier

feat: store reset액션에 errOptions초기화 추가 (#133)
  app/(dashboard)/strategies/_ui/search-bar/_store/use-searching-item-store.ts
Due: eslint, prettier

feat: 수정된 api 명세에 따른 데이터 수정 (#151)
  app/(dashboard)/_ui/strategies-item/area-chart.tsx
  app/(dashboard)/_ui/strategies-item/index.tsx
  app/(dashboard)/strategies/_api/get-strategies.ts
  app/(dashboard)/strategies/_ui/strategy-list/index.tsx
  mocks/handlers/strategies.ts
  shared/types/strategy-details-data.ts
Due: eslint, prettier

feat: 구독한 전략 페이지 구현 (#151)
  app/(dashboard)/my/_api/get-favorite-strategy-list.ts
  app/(dashboard)/my/_hooks/query/use-get-favorite-strategy-list.ts
  app/(dashboard)/my/favorites/_ui/favorite-strategy-list/index.tsx
  app/(dashboard)/my/favorites/_ui/favorite-strategy-list/styles.module.scss
  app/(dashboard)/my/favorites/page.module.scss
  app/(dashboard)/my/favorites/page.tsx
Due: eslint, prettier

refactor: usePagination 훅 분리 (#151)
  app/(dashboard)/my/favorites/_ui/favorite-strategy-list/index.tsx
  app/(dashboard)/strategies/_ui/strategy-list/index.tsx
  shared/hooks/custom/use-pagination.ts
Due: eslint, prettier

fix: 전략리스트 컴포넌트 스토리북 오류 수정 (#151)
  app/(dashboard)/_ui/strategies-item/strategies-item.stories.tsx
Due: eslint, prettier

design: 헤더 로고 텍스트 색상 수정 (#149)
  shared/ui/logo/styles.module.scss
Due: none

design: 네비게이션 zIndex 수정 (#149)
  shared/styles/base/_variables.scss
  shared/ui/side-navigation/styles.module.scss
Due: none

design: select 옵션 최대 높이 설정 (#149)
  shared/ui/dropdown/styles.module.scss
Due: none

fix: 오타 수정 및 client선언추가 (#133)
  app/(dashboard)/strategies/_ui/search-bar/accordion-button.tsx
  app/(dashboard)/strategies/_ui/search-bar/accordion-panel.tsx
  app/(dashboard)/strategies/_ui/search-bar/index.tsx
  app/(dashboard)/strategies/_ui/search-bar/range-container.tsx
  app/(dashboard)/strategies/_ui/search-bar/search-bar-tab.tsx
Due: eslint, prettier

fix: 전략 페이지 목데이터 출력 위치 수정 (#151)
  app/(dashboard)/strategies/_api/get-strategies.ts
Due: eslint, prettier

fix: header 대시보드 링크 경로 수정 (#149)
  shared/ui/header/_ui/header-links/index.tsx
Due: eslint, prettier

design: 검색바 position 수정 (#133)
  app/(dashboard)/strategies/[strategyId]/page.tsx
  app/(dashboard)/strategies/_ui/side-container/index.tsx
  app/(dashboard)/strategies/_ui/side-container/styles.module.scss
Due: eslint, prettier

design: fixed 위치수정 (#133)
  app/(dashboard)/strategies/_ui/side-container/styles.module.scss
Due: none

fix: 불필요한 코드 삭제 (#150)
  next.config.mjs
Due: none

feat: axios instance baseURL 관련 코드 추가 (#150)
  shared/api/axios.ts
Due: eslint, prettier

feat: 전략 등록 라우트 추가 (#150)
  shared/constants/path.ts
Due: eslint, prettier

feat: 전략 관리 페이지 퍼블리싱 (#150) - 기존 컴포넌트 활용
  app/(dashboard)/_ui/details-information/index.tsx
  app/(dashboard)/_ui/introduction/styles.module.scss
  app/(dashboard)/my/_api/get-my-strategy-list.ts
  app/(dashboard)/my/strategies/manage/[strategyId]/page.tsx
  app/(dashboard)/my/strategies/manage/[strategyId]/styles.module.scss
  app/(dashboard)/my/strategies/page.tsx
  app/(dashboard)/my/strategies/styles.module.scss
  app/(dashboard)/strategies/[strategyId]/_ui/analysis-container/account-content.tsx
  app/(dashboard)/strategies/[strategyId]/_ui/analysis-container/analysis-content.tsx
  app/(dashboard)/strategies/[strategyId]/_ui/analysis-container/index.tsx
  app/(dashboard)/strategies/[strategyId]/_ui/analysis-container/styles.module.scss
  app/(dashboard)/strategies/[strategyId]/_ui/analysis-container/tabs-width-table.tsx
  app/(dashboard)/strategies/_ui/side-container/index.tsx
  app/(dashboard)/strategies/_ui/side-container/styles.module.scss
  shared/ui/table/vertical/index.tsx
  shared/ui/table/vertical/styles.module.scss
Due: eslint, prettier

fix: 머지 후 스타일 수정 (#150)
  app/(dashboard)/my/strategies/manage/[strategyId]/page.tsx
  app/(dashboard)/strategies/_ui/side-container/styles.module.scss
Due: eslint, prettier

feat: 테이블 컴포넌트 내의 유틸 함수 구조 정리 (#111)
  shared/ui/table/vertical/index.tsx
  shared/utils/slice-array.ts
Due: eslint, prettier

feat: 테이블 컴포넌트의 불필요한 훅 제거 (#111)
  shared/ui/table/vertical/hooks/use-vertical-table.ts
Due: eslint, prettier

feat: 스토리북 배포 workflow 제거 (#158)
  .github/workflows/chromatic.yml
  README.md
Due: prettier

feat: 스토리북 배포 script 추가 (#158)
  package.json
Due: prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,jsx,tsx,json,yaml,md}
